@media screen and (min-width: 1440px) {
	.comment_big_block_1 {
		max-width: 47%;
	}
	.comment_big_block_2 {
		max-width: 52%;
	}
}
@media screen and (max-width: 1206px) {
	.intro_img_1 {
		width: 845px;
		height: 645px;
	}
	.intro {
		height: 893px;
	}
	.function_heading_1_3, .function_heading_2 {
		font-size: 38px;
	}
	.function_text_1_3, .function_text_2 {
		font-size: 16px;
	}
	.function_img_1_3, .function_img_2 {
		width: 350px;
		height: 450px;
	}
}
@media screen and (max-width: 870px) {
	.header_link {
		margin: auto 10px;
	}
	.header_link_2 {
		margin: auto 5px;
	}
	.intro_img_1 {
		width: 592px;
		height: 452px;
	}
	.intro {
		height: 803px;
	}
	.function_heading_1_3, .function_heading_2 {
		font-size: 24px;
		margin-bottom: 20px;
		line-height: 30px;
	}
	.function_text_1_3, .function_text_2 {
		margin-bottom: 5px;
		line-height: 20px;
	}
	.function_name_1, .function_name_2, .function_name_3 {
		margin-bottom: 5px;
	}
	.app_heading {
		font-size: 38px;
		margin: 50px calc(50% - 200px) 58px calc(50% - 200px);
	}
	.tarif_heading {
		margin: 0px calc(50% - 230px) 66px calc(50% - 230px);
		font-size: 38px;
	}
	.comments_heading {
		margin-top: 100px;
		font-size: 38px;
	}
	.comment_block_1 {
		margin-top: 50px;
	}
	.regir_block {
		margin: 124px 0px 100px 0px;
		min-height: 250px;
	}
	.regir_heading {
		margin-top: 4px;
		font-size: 38px;
	}
	.regir_text {
		padding-top: 40px;
	}
}
@media screen and (max-width: 784px) {
	.header_link {
		margin: auto 5px;
	}
	.header_link_2 {
		margin: auto 3px;
	}
	.intro_img_1 {
		width: 592px;
		height: 452px;
	}
	.intro {
		margin-top: 75px;
		height: 733px;
	}
	body {
		font-size: 12px;
	}
	h1 {
		font-size: 32px;
	}
	.logo {
		width: 64px;
		height: 17px;
	}
	.logo_2 {
		width: 64px;
		height: 17px;
	}
	.header_button {
		width: 78px;
		height: 34px;
		font-size: 11px;
	}
	header {
		height: 75px;
		margin-top: -75px;
	}
	.function_img_1_3, .function_img_2 {
		width: 270px;
		height: 350px;
	}
	.app_heading {
		font-size: 24px;
		line-height: 30px;
		margin: 50px calc(50% - 130px) 58px calc(50% - 130px);
	}
	.tarif_heading {
		margin: 0px calc(50% - 170px) 66px calc(50% - 170px);
		font-size: 24px;
		line-height: 30px;
	}
	.comments_heading {
		margin-top: 50px;
		font-size: 24px;
	}
	.avatar_1 {
		width: 40px;
		height: 40px;
		margin: 30px 10px 0px 30px;
	}
	.comment_head_name {
		height: 40px;
		margin-top: 30px;
	}
	.icon {
		margin: 30px 30px 0px 0px;
		width: 20px;
		height: 20px;
	}
	.comment_name {
		font-size: 12px;
	}
	.comment_link_1 {
		font-size: 11px;
	}
	.comment_link_2 {
		font-size: 12px;
	}
	.comment_text {
		margin: 0px 0px 0px 30px;
		font-size: 14px;
	}
	.regir_block {
		margin: 50px 0px 50px 0px;
	}
	.footer_down_1 {
		font-size: 12px;
	}
	.footer_text {
		margin: 0px 0px 3px 0px;
		line-height: 18px;
	}
	.footer_text_head {
		margin: 40px 0px 6px 0px;
		line-height: 18px;
	}
	.social {
		margin: 0px 18px 30px 0px;
	}
	.footer_pakko_text_1 {
		line-height: 18px;
	}
	.footer_pakko_text_2 {
		line-height: 18px;
	}
	.logo_2 {
		margin: 40px 0px 12px 0px;
	}
}
@media screen and (max-width: 610px) {
	.intro_img_1 {
		width: 414px;
		height: 316px;
	}
	.intro {
		height: 683px;
	}
	.function_img_1_3, .function_img_2 {
		width: 53%;
	}
}
@media screen and (max-width: 520px) {
	.intro {
		height: 663px;
	}
	body {
		font-size: 10px;
	}
	h1 {
		font-size: 26px;
	}
	.header_button {
		width: 55px;
		height: 24px;
		font-size: 9px;
	}
	.header_link {
		padding-top: 10px;
		margin: auto 5px;
	}
	.header_link_2 {
		padding-top: 10px;
		margin: auto 3px;
	}
	.intro_button_1 {
		width: 126px;
		height: 32px;
		font-size: 10px;
	}
	.intro_button_2 {
		width: 101px;
		height: 32px;
		font-size: 11px;
	}
	.function_heading_1_3, .function_heading_2 {
		font-size: 18px;
		margin-bottom: 10px;
		line-height: 25px;
	}
	.function_text_1_3, .function_text_2 {
		font-size: 10px;
		margin-bottom: 0px;
		line-height: 14px;
	}
	.function_name_1, .function_name_2, .function_name_3 {
		padding-top: 5px;
		margin-bottom: 0px;
	}
	.function_img_1_3, .function_img_2 {
		width: 190px;
		height: 270px;
	}
	.avatar_1 {
		width: 35px;
		height: 35px;
		margin: 25px 10px 0px 25px;
	}
	.comment_head_name {
		height: 30px;
		margin-top: 25px;
	}
	.icon {
		margin: 25px 25px 0px 0px;
		width: 16px;
		height: 16px;
	}
	.comment_name {
		font-size: 10px;
	}
	.comment_link_1 {
		font-size: 9px;
	}
	.comment_link_2 {
		font-size: 10px;
	}
	.comment_text {
		margin: 0px 0px 0px 25px;
		font-size: 12px;
	}
	.regir_block {
		min-height: 200px;
	}
	.regir_heading {
		margin-top: 2px;
		font-size: 24px;
	}
	.regir_text {
		padding-top: 20px;
	}
	.regir_button {
		width: 95px;
		height: 38px;
		font-size: 11px;
	}
	.footer_down_1 {
		font-size: 9px;
	}
	.footer_text {
		line-height: 14px;
	}
	.footer_text_head {
		line-height: 14px;
	}
	.footer_pakko_text_1 {
		line-height: 14px;
	}
	.footer_pakko_text_2 {
		line-height: 14px;
	}
}
