@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	font-family: 'Inter';
	font-style: normal;
	font-size: 16px;
}
.header_link:hover, 
.header_link:focus, 
.header_link:active, 
.header_link_2:hover, 
.header_lin_2:focus, 
.header_link_2:active,
.header_button:hover,
.header_button:focus,
.header_button:active,
.intro_button_1:hover,
.intro_button_1:focus,
.intro_button_1:active,
.intro_button_2:hover,
.intro_button_2:focus,
.intro_button_2:active,
.app_button:hover,
.app_button:focus,
.app_button:active,
.regir_button:hover,
.regir_button:focus,
.regir_button:active,
.footer_text:hover,
.footer_text:focus,
.footer_text:active {
	opacity: 80%;
}

/*header start*/

header {
	position: fixed;
	height: 90px;
	width: 100%;
	margin-bottom: 60px;
	margin-top: -90px;
	background: white;
}
.wrapper {
	max-width: 1440px;
	width: 100%;
	padding-right: 7.22%;
	padding-left: 7.22%;
	margin: 0 auto;
}
.header_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo {
	width: 92px;
	height: 24px;
	margin-top: 33px;
}
.header_text {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	list-style-type: none;
	text-align: center;
	margin-top: 33px;
}
.header_text:last-child {
	margin-top: 21px;
	text-align: center;
}
.header_triangle {
	margin: 0px 0px 5px 6px;
}
.header_link {
	text-decoration: none;
	color: #100A30;
	text-align: center;
	margin: auto 25px;
}
.header_link_2 {
	text-decoration: none;
	margin: auto 20px;
	color: #624DE3;
}
.header_button {
	width: 112px;
	height: 48px;
	border-radius: 6px;
	background: #624DE3;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	border: none;
}

/*header end*/

main {
	height: 7393px;
}

/*intro start*/

.intro {
	margin-top: 90px;
	padding-top: 62px;
	height: 1105px;
	background: #100A30;
	margin-bottom: 200px;
}
h1 {
	font-weight: 400;
	font-size: 55px;
	line-height: 64px;
	text-align: center;
	letter-spacing: 0.56px;
	color: #FFFFFF;
	margin-left: 18.67%;
	margin-right: 18.67%;
	margin-bottom: 26px;
}
.intro_text {
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.18px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 48px;
}
.intro_button {
	text-align: center;
}
.intro_button_1 {
	width: 210px;
	height: 54px;
	background: #624DE3;
	border-radius: 6px;
	border: none;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 16px;
}
.intro_button_2 {
	width: 168px;
	height: 54px;
	background: #100A30;
	border: 1px solid #C3C1CB;
	border-radius: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 2px;
}
.intro_img {
	text-align: center;
}
.intro_img_1 {
	width: 1207px;
	height: 927px;
}

/*intro end*/

/*function start*/

.function {
	/*min-height: 2043px;*/
}
.function_block_1_3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.function_img_1_3 {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	width: 42.53%;
	height: 585px;
	margin: 0px 3.73% 96px 0px;
}
.function_block_text_1_3 {
	width: 43%;
}
.function_name_1 {
	padding: 71px 0px 0px 0px;
	font-weight: 700;
	line-height: 24px;
	color: #624DE3;
	margin: 0px 0px 10px 15.05%;
}
.function_heading_1_3 {
	padding: 0px 0px 0px 0px;
	max-width: 418px;
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
	color: #100A30;
	margin: 0px 0px 54px 15.05%;
}
.function_text_1_3 {
	padding: 0px 0px 0px 0px;
	max-width: 465px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #4C4764;
	margin: 0px 0px 27px 15.05%;
}
.function_link_1 {
	padding: 0px 0px 0px 0px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #624DE3;
	margin: 0px 0px 0px 15.05%;
}
.function_block_2 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.function_block_text_2 {
	width: 41.15%;
}
.function_img_2 {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	width: 42.53%;
	height: 585px;
	margin: 0px 11.36% 96px 3.73%;
}
.function_name_2 {
	padding: 47px 0px 0px 0%;
	font-weight: 700;
	line-height: 24px;
	color: #19C787;
}
.function_heading_2 {
	padding: 0px 23.47% 0px 0%;
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
	color: #100A30;
	margin: 0px 0px 54px 0px;
}
.function_text_2 {
	padding: 0px 12.23% 0px 0%;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #4C4764;
	margin: 0px 0px 27px 0px;
}
.function_link_2 {
	padding: 0px 0px 0px 0%;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #19C787;
	margin: 0px 0px 0px 0px;
}
.function_name_3 {
	padding: 71px 0px 0px 0px;
	font-weight: 700;
	line-height: 24px;
	color: #0084FF;
	margin: 0px 0px 10px 15.05%;
}
.function_link_3 {
	padding: 0px 0px 0px 0px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #0084FF;
	margin: 0px 0px 236px 15.05%;
}

/*function end*/

/*apps start*/

.app_heading {
	margin: 100px calc(50% - 249px) 58px calc(50% - 249px);
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #100A30;
}
.app_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 96px;
}
.app_button {
	width: 290px;
	height: 208px;
	background: #FFFFFF;
	box-shadow: -1px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	border: none;
	margin: 0px 0px 24px 0px;
}
.app_img {
	width: 88px;
	height: 88px;
}
.app_text {
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.18px;
	color: #100A30;
}

/*apps end*/

/*tarif start*/

.tarif_heading {
	margin: 0px calc(50% - 296px) 66px calc(50% - 296px);
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #100A30;
}
.tarif_buttons {
	text-align: center;
}
.tarif_button_1 {
	width: 101px;
	height: 22px;
	background: none;
	border-radius: 200px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #4C4764;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.tarif_button_2 {
	width: 159px;
	height: 22px;
	background: none;
	border-radius: 200px;
	border: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: #4C4764;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-bottom: 80px;
}
.tarif_button_1:focus,
.tarif_button_2:focus {
	background-color: #624DE3;
  color: white;
}
.tarifs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.tarif_1 {
	background: url(image/svg/gratuitim.svg) no-repeat;
	border-radius: 8px;
	width: 385px;
	height: 398px;
	margin-bottom: 30px;
}
.tarif_1_1 {
	margin-top: 39px;
	background: rgba(16, 10, 48, 0.03);
	width: 100%;
	height: 148px;
	border-radius: 0px 0px 8px 8px;
}
.tarif_2 {
	background: url(image/svg/basiqueim.svg) no-repeat;
	border-radius: 8px;
	width: 385px;
	height: 398px;
	margin-bottom: 30px;
}
.tarif_2_1 {
	margin-top: 19px;
	background: rgba(25, 199, 135, 0.05);
	width: 100%;
	height: 148px;
	border-radius: 0px 0px 8px 8px;
}
.tarif_3 {
	background: url(image/svg/proim.svg) no-repeat;
	border-radius: 8px;
	width: 385px;
	height: 398px;
	margin-bottom: 30px;
}
.tarif_3_1 {
	margin-top: 19px;
	background: rgba(252, 185, 52, 0.05);
	width: 100%;
	height: 148px;
	border-radius: 0px 0px 8px 8px;
}
.logow {	
	margin: 158px 0 0 30px;
}
.tarif_text_1 {
	margin: 13px 0 0 30px;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
}
.tarif_price {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tarif_text_2 {
	margin: 13px 0 0 30px;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: #19C787;
}
.tarif_price_price {
	display: flex;
	flex-wrap: wrap;
}
.tarif_price_1 {
	margin: 0px 4px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
}
.tarif_price_2 {
	margin: 0px 24px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	font-weight: 400;
	font-size: 15px;
	line-height: 32px;
	color: #FFFFFF;
}
.tarif_text_3 {
	margin: 13px 0 0 30px;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: #FF9F1C;
}
.tarif_check {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.check_1 {
	margin: 26px 10px 16px 26px;
}
.check_2 {
	margin: 0px 10px 16px 26px;
}
.tarif_check_text_1 {
	margin: 26px 0px 16px 0px;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: #100A30;
}
.tarif_check_text_2 {
	margin: 0px 0px 16px 0px;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: #100A30;
}

/*tarif end*/

/*comments start*/

.comments_head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.comments_heading {
	display: flex;
	flex-wrap: wrap;
	margin: 200px 0px 0px 0px;
	width: 375px;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	color: #100A30;
}
.comment_block_1 {
	margin: 160px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 190px;
	background: #FDEBEE;
	border-radius: 8px;
}
.comment_head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	/*height: 100px;*/
}
.comment_head_1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*height: 100px;*/
}
.avatar_1 {
	height: 48px;
	margin: 40px 16px 0px 40px;
}
.comment_head_name {
	height: 50px;
	margin-top: 40px;
}
.icon {
	margin: 40px 40px 0px 0px;
	width: 24px;
	height: 24px;
}
.comment_name {
	margin: 0px 0px 0px 0px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #100A30;
}
.comment_link_1 {
	margin: 0px 0px 0px 0px;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	color: #4C4764;
	text-decoration: none;
}
.comment_text {
	margin: 0px 0px 0px 40px;
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #4C4764;
	width: 90%;
}
.comment_big_blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.comment_block_2 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 298px;
	background: #E8E5FB;
	border-radius: 8px;
}
.comment_link_2 {
	margin: 0px 0px 0px 40px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #100A30;
	text-decoration: none;
}
.comment_block_3 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 220px;
	background: #E8FAF3;
	border-radius: 8px;
}
.comment_block_4 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 220px;
	background: #E6F3FF;
	border-radius: 8px;
}
.comment_block_5 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 298px;
	background: #FFF5E1;
	border-radius: 8px;
}
.comment_block_6 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 238px;
	background: #E6F3FF;
	border-radius: 8px;
}
.comment_block_7 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 250px;
	background: #FFF5E1;
	border-radius: 8px;
}
.comment_block_8 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 268px;
	background: #E8E5FB;
	border-radius: 8px;
}
.comment_block_9 {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 596px;
	min-height: 190px;
	background: #FDEBEE;
	border-radius: 8px;
}

/*comments end*/

/*regir start*/

.regir_block {
	width: 100%;
	min-height: 378px;
	background: url(image/svg/mask1.svg) no-repeat center;
	border-radius: 8px;
	margin: 124px 0px 200px 0px;
	text-align: center;
}
.regir_text {
	margin: 0px 0px 0px 0px;
	padding-top: 95px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.18px;
	color: #FFFFFF;
}
.regir_heading {
	margin-top: 8px;
	font-weight: 400;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	color: #FFFFFF;
}
.regir_button {
	width: 136px;
	height: 54px;
	background: #100A30;
	border-radius: 6px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}

/*regir end*/

/*footer start*/

.footer_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.footer_pakko {
	max-width: 212px;
}
.logo_2 {
	width: 92px;
	height: 24px;
	margin: 57px 0px 24px 0px;
}
.footer_pakko_text_1 {
	margin: 0px 0px 0px 0px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #4C4764;
}
.footer_pakko_text_2 {
	margin: 0px 0px 28px 0px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.18px;
	color: #4C4764;
}
.social {
	width: 20px;
	height: 20px;
	margin: 0px 24px 40px 0px;
}
.footer_text_head {
	margin: 56px 0px 12px 0px;
	font-weight: 700;
	line-height: 24px;
	color: #100A30;
}
.footer_text {
	display: block;
	text-decoration: none;
	margin: 0px 0px 6px 0px;
	font-weight: 400;
	line-height: 24px;
	color: #4C4764;
}
.footer_down {
	text-align: center;
}
.footer_down_1 {
	display: inline;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #4C4764;
	margin: 0px 4px 0px 0px;
}

/*footer end*/